/*  your css code here. If applicable */
 body{
            margin-top: 0px;
            margin-left: 2px;
            background-color: rgb(135, 206, 235);
             color: white;
        }
        
        li {
            text-decoration: none;
        }